@import '~bootstrap/scss/bootstrap';




.my_shadow{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.2);
}

.my_fs-40{
    font-size: 80px;
}

.dropdown-item:hover{
 background-color: rgb(25, 28, 31) !important;
}

// .form-control{
//     border-radius: 0;
//     border: none;
//     border-bottom: 1px solid rgb(33, 37, 41);
// }
.form-control:focus{
    box-shadow: none !important;
    border-color: rgb(33, 37, 41);
}
.form-check-input:checked{
    box-shadow: none !important;
    background-color: rgb(33, 37, 41);
    border-color: rgb(33, 37, 41);
}
.col > img{
    width: 100%;
}